# https://apilayer.com/marketplace/exchangerates_data-api
API_KEY_EXCHANGE_RATES=your_api_key_here
# https://site.financialmodelingprep.com/developer/docs/historical-stock-data-free-api/?direct=true
API_KEY_FINANCIAL_MODELING=your_api_key_here
